/* Reset Password Page Styles */
.reset-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.reset-password-container {
  background-color: #1f1e1e; /* Dark background for the form */
  border-radius: 8px;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.reset-password-container .reset-password-title {
  font-size: 28px;
  color: #fff; /* Bright text color */
  margin-bottom: 30px;
}

.reset-password-field {
  position: relative;
  margin-bottom: 25px;
}

.reset-password-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #00a7b3;
  font-size: 20px;
}

.reset-password-input {
  width: 100%;
  padding: 12px 12px 12px 36px;
  font-size: 16px;
  border: 1px solid #444;
  border-radius: 6px;
  background-color: #222; /* Dark input background */
  color: #00d9e9; /* Text inside input is white */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
}

.reset-password-input:focus {
  border-color: #00d9e9;
  box-shadow: 0 0 6px rgba(0, 217, 233, 0.4);
  outline: none;
}

.reset-password-label {
  position: absolute;
  top: 12px;
  left: 40px;
  font-size: 14px;
  color: #00d9e9; /* Lighter label color */
  transition: all 0.3s ease;
}

.reset-password-input:focus + .reset-password-label,
.reset-password-input:not(:placeholder-shown) + .reset-password-label {
  top: -10px;
  left: 35px;
  font-size: 12px;
  color: #00d9e9; /* Blue color on focus */
  background-color: #333; /* Dark background for label */
  padding: 0 5px;
  border-radius: 4px;
}

.reset-password-toggle {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  font-size: 20px;
  transition: color 0.3s ease;
}

.reset-password-toggle:hover {
  color: #fff;
}

.reset-password-button {
  background-color: #00adb9;
  color: #fff;
  padding: 14px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.reset-password-button:hover {
  background-color: #009c98;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
}
